language: python
python:
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
before_install:
  - pip install -U pip setuptools
install:
  - pip install -e .[dev]
script: coverage run --source maps setup.py test
after_success: codecov
